<!doctype html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css?version=3" />
    <title>Animefy</title>
</head>


<body>
    <div id="container">
        <div id="header">
            <h1>Animefy your world</h1>
        </div>
        <div id="loading"></div>
        <div id="content">
            <h1>Upload a file</h1>
            {% if message %}
            <p class="message">{{ message | safe }}</p>
            {% endif %}
            <div class="w3-row-padding" style="margin-bottom:128px">
                <div class="w3-half">
                  <p class="aligncenter">
                    <img src="static/Images/GreenEyesGirl.jpg" style="width:15%">
                    <img src="static/Images/GreenGirlCartoon.png" style="width:15%" >
                    <img src="static/Images/Monroe.jpg" style="width:15%">
                    <img src="static/Images/MonroeCartoon.png" style="width:15%">
                    <img src="static/Images/Kobe.jpg" style="width:15%" >
                    <img src="static/Images/KobeCartoon.png" style="width:15%">
                  </p>
                </div>
            </div>
            <form action="/" method=POST enctype=multipart/form-data>
                <input id=upload type=file name=file>
                <input id=submit type=submit value=Upload onclick="loading()">
            </form>
            <p class="aligncenter">
                <img src="static/Images/Titanic.jpg" style="width:15%">
                <img src="static/Images/TitanicCartoon.png" style="width:15%" >
                <img src="static/Images/Tiffany.jpg" style="width:15%">
                <img src="static/Images/TiffanyCartoon.png" style="width:15%">
                <img src="static/Images/BlackPanther.jpg" style="width:15%" >
                <img src="static/Images/BlackPantherCartoon.png" style="width:15%">
              </p>
        </div>
    </div>


    <script type='text/javascript'>
        function loading() {
            console.log("Processing the Image")
            var loading = document.getElementById("loading");
            var content = document.getElementById("content")
            loading.style.display = "block"
            content.style.display = "none"
        }
    </script>
</body>

</html>